<!DOCTYPE html>
<html lang="en">
<head>

<meta charset="UTF-8">

<title>Error</title>

<link rel="stylesheet" href="/css/styles.css">

</head>

<body>

<div class="container">

<h1>Error <%= status %></h1>

<p><%= message %></p>

<br>

<a class="btn" href="/products">

Back to Products

</a>

</div>

</body>
</html>